/* pain */
@import url('../../.cache/wal/colors-waybar.css');

@define-color mpris-album-art-overlay @background;
@define-color mpris-button-hover @background;
@define-color text @color15;
@define-color bg @background;
@define-color bg-hover @background;
@define-color mycolor @color9;
@define-color border-color @mycolor;

@keyframes fadeIn {
0% {
    padding-left:20;
    margin-left:50;
    margin-right:50;
}
100% {
    padding:0;
    margin:0;
}
}

* {
    outline:none;
}

.control-center .notification-row {
    background-color: unset;
}

.notification {
    background: @mycolor;
}

.control-center .notification-row .notification-background .notification {
    margin-top: 0.150rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    background: @mycolor;
}

.floating-notifications .notification {
    animation: fadeIn .5s ease-in-out;
}

.control-center .notification-row .notification-background .notification box,
.control-center .notification-row .notification-background .notification widget,
.control-center .notification-row .notification-background .notification .notification-content,
.floating-notifications .notification-row .notification-background .notification box,
.floating-notifications .notification-row .notification-background .notification widget,
.floating-notifications.background .notification-background .notification .notification-content {
    border-radius: 0.818rem;
}

.notification widget:hover {
    background: @mycolor;
}

.floating-notifications.background .notification-background .notification .notification-content,
.control-center .notification-background .notification .notification-content {
    padding-top: 0.818rem;
    padding-right: unset;
    margin-right: unset;
}

.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
    padding:10px;
}

.control-center .notification-row .notification-background .notification.low .notification-content .body,
.control-center .notification-row .notification-background .notification.normal .notification-content .body,
.floating-notifications.background .notification-background .notification.low .notification-content .body,
.floating-notifications.background .notification-background .notification.normal .notification-content .body {
    color: @text;
}

.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
    background-color: #ffb4a9;
}

.control-center .notification-row .notification-background .notification.critical .notification-content label,
.floating-notifications.background .notification-background .notification.critical .notification-content label {
    color: #680003;
}

.notification-content {
    padding:5;
}

.control-center .notification-row .notification-background .notification .notification-content .summary,
.floating-notifications.background .notification-background .notification .notification-content .summary {
    font-family: 'CodeNewRoman Nerd Font Propo';
    font-size: 0.9909rem;
    font-weight: 500;
}

.control-center .notification-row .notification-background .notification .notification-content .body,
.floating-notifications.background .notification-background .notification .notification-content .body {
    font-family: 'CodeNewRoman Nerd Font Propo';
    font-size: 0.8891rem;
    font-weight: 400;
    margin-top: 0.310rem;
}

.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
    all:unset;
    color:@text;
}

.control-center .notification-row .close-button:hover,
.floating-notifications.background .close-button:hover {
    all:unset;
    background-color: @bg;
    border-radius: 100%;
    color:@text;
}

.control-center {
    background: @bg;
    color: @text;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
}

.widget-title {
    color: @text;
    padding-left:20px;
    padding-top:20px;
}

.widget-title > button {
    color: @text;
    background: @color1;
    border-radius: 12px;
    padding:0px 10px;
    margin-right:20px;
    margin-top:3px;
}

.widget-title > button:hover {
    background: @bg-hover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .65);
}

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
}

.widget-mpris .widget-mpris-player button {
    color:@text;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @mycolor;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
    color: @background;
}

trough highlight {
    background: @mycolor;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}
