layout {
    border {
        active-color   "#00ddd4"
        inactive-color "#859492"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#00ddd4"
        inactive-color "#859492"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#00ddd480"
    }
}

