input {
    keyboard {
        xkb {
            layout "gb"
        }
    }

    mouse {
         accel-speed 0.2
        accel-profile "flat"
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="50%"
}


layout {
    gaps 16
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.99999
    }
    
    default-column-width { proportion 0.5; }

    focus-ring { 
    	off
    }

    border {
        on
    }

    shadow {
        on
    }

    struts {
        left 10
        right 10
        top 10
        bottom 10
    }
}

include "colors.kdl"

spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"

spawn-at-startup "libnotify"
spawn-at-startup "swaync"
spawn-at-startup "swayosd-server"

spawn-sh-at-startup "swww-daemon -n overlay"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "niri-sidebar listen"

hotkey-overlay {
    skip-at-startup
}


prefer-no-csd

screenshot-path "~/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


overview {
	zoom 0.45
}

// i hate this so much but i dont think theres a better way :toki_pensive:
layer-rule {
    match namespace="^swww-daemonoverlay$"
    place-within-backdrop true
}


animations {
    slowdown 1.2
}


window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match is-floating=true
    min-width 100
    min-height 100
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Q hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+R hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+D hotkey-overlay-title="Application Menu: keyselect" {spawn-sh "kitty -e keyselect"; }
    Mod+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }
    Mod+F hotkey-overlay-title="Open Firefox" { spawn "firefox"; }
	Mod+Shift+W hotkey-overlay-title="Switch wallpaper" { spawn-sh "kitty -e wallswitch"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Space repeat=false { toggle-overview; }

    Mod+C repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Down  { focus-workspace-down; }
    Mod+Shift+Up    { focus-workspace-up; }

    Mod+Shift+Ctrl+Down  { move-column-to-workspace-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+WheelScrollDown       { focus-workspace-down; }
    Mod+WheelScrollUp         { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown  { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp    { move-column-to-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+A { switch-preset-column-width; }
    Mod+Shift+A { switch-preset-column-width-back; }
    Mod+Ctrl+A { expand-column-to-available-width; }

    Mod+X { center-column; }

    Mod+Ctrl+X { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { toggle-window-floating; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Shift+Print { screenshot-screen; }
    Ctrl+Print { screenshot-window; }

    Mod+M { quit; }

    Mod+Shift+P { power-off-monitors; }

    Mod+Shift+F { fullscreen-window; }

    Mod+S { spawn-sh "niri-sidebar toggle-window"; }
    Mod+Shift+S { spawn-sh "niri-sidebar toggle-visibility"; }
    Mod+Ctrl+S { spawn-sh "niri-sidebar flip"; }
    Mod+Alt+S { spawn-sh "niri-sidebar reorder"; }

}
