:root {
  --background: {{ colors.background.default.hex }};
  --surface: {{ colors.surface.default.hex }};
  --primary: {{ colors.primary.default.hex }};
  --secondary: {{ colors.secondary.default.hex }};
  --tertiary: {{ colors.tertiary.default.hex }};
  --error: {{ colors.error.default.hex }};

  --on_background: {{ colors.on_background.default.hex }};
  --on_surface: {{ colors.on_surface.default.hex }};
  --on_primary: {{ colors.on_primary.default.hex }};
  --on_secondary: {{ colors.on_secondary.default.hex }};
  --on_tertiary: {{ colors.on_tertiary.default.hex }};
  --on_error: {{ colors.on_error.default.hex }};

  --surface_container: {{ colors.surface_container.default.hex }};
  --primary_container: {{ colors.primary_container.default.hex }};
  --secondary_container: {{ colors.secondary_container.default.hex }};
  --tertiary_container: {{ colors.tertiary_container.default.hex }};
  --error_container: {{ colors.error_container.default.hex }};

  --surface_variant: {{ colors.surface_variant.default.hex }};
  --outline: {{ colors.outline.default.hex }};
  --shadow: {{ colors.shadow.default.hex }};
}
